#contact {
    width: 90%;
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: $cut) {
        width: 80%;
    }

    .form-title {
        text-align: center;
        margin: 20px auto; // updated for consistency
        color: $sec;

        // Add this block to set primary text color to its <p> tag
        p {
            color: $text_primary;
        }
    }

    .form-group {
        width: 100%; // Ensure the form-group takes full width of the container
        margin-bottom: 15px;

        label {
            display: block;
            font-size: 16px;
            margin-bottom: 5px;
            text-align: left;
            color: $text_secondary;

            @media only screen and (min-width: $cut) {
                font-size: 18px;
            }
        }

        input,
        textarea {
            width: calc(100% - 22px); // Adjust for padding and border
            padding: 10px;
            font-size: 16px;
            border: 1px solid $gray;
            border-radius: 5px;
            outline: none;
            transition: border-color 0.3s ease-out;
            box-sizing: border-box; // Ensure padding and border are included in width

            &:focus {
                border-color: $button;
            }

            @media only screen and (min-width: $cut) {
                font-size: 18px;
            }
        }

        textarea {
            height: 150px;
            resize: vertical;
        }
    }

    .submit-button {
        display: block; // Changed from `inline-block` to `block` to ensure it spans the entire width
        width: calc(100% - 22px); // Adjust for padding and border
        margin: 15px 0; // Adjusted margin for consistency
        padding: 10px 0; // Adjust padding
        font-size: 16px;
        color: $main;
        background-color: $button;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease-out;
        box-sizing: border-box; // Ensure padding and border are included in width

        &:hover,
        &:focus {
            background-color: $button_secondary;
        }

        &:active {
            background-color: $button_secondary;
        }

        @media only screen and (min-width: $cut) {
            font-size: 18px;
        }
    }
}