// Primary Colors
$main: #ffffff; // White
$sec: #1f4e79; // Gzhel Blue

// Secondary Colors
$main_secondary: #a3c4ec; // Soft Blue
$gray: #e3e3e3; // Gray

// Accent Colors
$accent: #daa520; // Gold
$button: #0a3d62; // Navy Blue
$button_secondary: #a3c4ec; // Soft Blue

// Typography Colors
$text_primary: #333333; // Dark Gray
$text_secondary: #666666; // Medium Gray
$cut: 550px;
